
.speech-mic {
    background: url("../img/mic.gif") no-repeat 50% 50%;
    background-size: contain;
}

.speech-mic-works {
    background: url("../img/mic-animate.gif") no-repeat 50% 50%;
    background-size: contain;
}